<!DOCTYPE html>
<html lang="ja">
    
<style>
    .campus{
        width:    {{campusWidth}};
        height:   900px;
        border:   1px solid;
        overflow: scroll;
        
        body {margin: 4;padding: 0; line-height: 10px;}
    }
</style>
<img src="{{url_for('static', filename= 'homePage.jpg' )}}" /> 
   <center>
   <table frame="vold" border="0" >
    <tbody >
        <tr style="font-size: 8 px;padding:6px ">
            <td scope="row" style="padding-left: 10px;padding-right: 8px; width: 220px; height:60px
              ;">   
                <a href= "/dframe/navi/form/255/1/0/0/0/0/ " > 
                    <center> Ibara King </center>
                </a> 
            </td>
            <td scope="row" style="padding-left: 10px;padding-right: 8px; width: 220px; height:60px
              ;">   
                <a href= "/dframe/navi/form/255/2/0/0/0/0/ " > 
                    <center> Fruits from Ibaraki </center>
                </a> 
            </td>
            <td scope="row" style="padding-left: 10px;padding-right: 8px; width: 220px; height:60px
              ;">   
                <a href= "/dframe/navi/form/255/3/0/0/0/0/ " > 
                    <center> Snacks </center>
                </a> 
            </td>        
        </tr>
        <tr style="font-size: 8 px;padding:6px ">
            <td scope="row" style="padding-left: 10px;padding-right: 8px; width: 220px; height:60px
              ;">    
                <a href= "/dframe/navi/form/255/4/0/0/0/0/ " > 
                    <center> Tea-Bifold-Brouchure </center>
                </a> 
            </td>
            <td scope="row" style="padding-left: 10px;padding-right: 8px; width: 220px; height:60px
              ;">    
                <a href= "/dframe/navi/form/255/5/0/0/0/0/ " > 
                    <center> Japanes Rice (URABAMAI) </center>
                </a> 
            </td>
            <td scope="row" style="padding-left: 10px;padding-right: 8px; width: 220px; height:60px
              ;">    
                <a href= "/dframe/navi/form/255/6/0/0/0/0/ " > 
                    <center> Tea-Bifold-Brouchure </center>
                </a> 
            </td>
        </tr>
  </tbody>
</center>
</table>
